/* GENERAL */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* PHONE */

@media (max-width: 740px) {

  .desktop-nav {
    display: none;
  }

  .phone-nav {
    display: block;
  }

  .phone-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .phone-nav-list a {
    font-size: 25px;
    margin: 10px 0 0 0;
    text-decoration: none;
    color: #FFFFFF;
  }

  .phone-nav-list a:hover {
    color: #52e53b;
  }

}

@media (min-width: 740px) {

  .phone-nav {
    display: none;
  }

  .desktop-nav {
    display: block;
    position: absolute;
    top: 36px;
    left: 240px;
  }

  .desktop-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .desktop-nav-list a {
    font-size: 24px;
    margin: 0 12px;
    text-decoration: none;
    color: #FFFFFF;
  }

  .desktop-nav-list a:hover {
    color: #61BC54;
  }

}

/** NAVIGATION **/

.app-header {
  box-sizing: border-box;
  background-color: #52e53b;
  position: fixed;
  width: 100%;
  height: 100px;
  color: white;
  z-index: 9999;
  top: 0;
}

.app-logo {
  width: 200px;
  height: 80px;
  display: block;
  position: absolute;
  top: 10px;
  left: 20px;
}

.menu-icon {
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: 20px;
  right: 30px;
}

#nav {
  display: block;
}

/** BODY  **/

.app-body {
  position: absolute;
  top: 100px;
  width: 100%;
}

.shownSideNav {
  display: block;
  width: 100%;
  height: 165px;
  position: fixed;
  background: #61bc54;  
  top: 100px;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.hiddenSideNav {
  display: block;
  width: 100%;
  height: 165px;
  position: fixed; 
  top: 100px;    
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

/** MAP **/

#map {
  display: block;
  width: 85%;
  height: 500px;
  background: orange;
}