node_modules/
client/node_modules
.DS_Store
client/.DS_Store
migration_db/
.env
client/build/bundle.js
client/build/bundle.js.map
npm-debug.log
article-fulltext.html
article-introtext.html
article.json
server/data/snp.json
client/build/*.css
client/build/*.css.gz
client/build/*.css.br
client/build/*.css.map
client/build/*.js
client/build/*.js.gz
client/build/*.js.br
client/build/*.js.map
