node_modules/
client/node_modules
.DS_Store
client/.DS_Store
migration_db/
.env
client/build/bundle.js
client/build/bundle.js.map
npm-debug.log
article-fulltext.html
article-introtext.html
article.json
server/data/snp.json
