/* GENERAL */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

/* PHONE */

@media (max-width: 700px) {

  .phone-nav {
    display: block;
  }

  .desktop-nav {
    display: none;
  }

}

@media (min-width: 700px) {

  .phone-nav {
    display: none;
  }

  .desktop-nav {
    display: block;
  }

}

/** NAVIGATION **/

.app-header {
  box-sizing: border-box;
  background-color: #52e53b;
  height: 100px;
  padding: 10px; 
  color: white;
}

.app-logo {
  width: 200px;
  height: 80px;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 20px;
}

.menu-icon {
  width: 60px;
  height: 60px;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 30px;
}

#nav {
  display: inline-block;
}
