/* GENERAL */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

/* PHONE */

@media (max-width: 699px) {

  .phone-nav {
    display: block;
  }

  .desktop-nav {
    display: none;
  }

}

@media ( orientation: landscape ) and (min-width: 700px) {

  .phone-nav {
    display: none;
  }

  .desktop-nav {
    display: block;
  }

}

/** NAVIGATION **/

.app-header {
  background-color: #52e53b;
  height: 100px;
  padding: 10px;
  color: white;
}

.app-logo {
  width: 200px;
  height: 80px;
  display: inline-block;
}

#nav {
  display: inline-block;
}
