/* GENERAL */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box; 
}

.hidden {
  display: none;
}

.invisible {
  display: hidden;
}

.app-header {
  box-sizing: border-box;
  background-color: #479a3a;
  position: fixed;
  width: 100%;
  height: 50px;
  color: white;
  z-index: 9999;
  top: 0;
}

.app-logo {
  width: 160px;
  height: 64px;
  display: block;
  position: absolute;
  top: 16px;
  left: 16px;
}

#nav {
  display: block;
}

/** BODY  **/

.app-body {
  position: absolute;
  top: 96px;
  width: 96%;
  left: 2%;
}

/** MAP **/

#pois-map {
  display: block;
  width: 100%;
  height: 86vh;
}

#map-container  {
  position: absolute;
  width: 104%;
  left: -2%;
}

.screen-container {
  width: 80%;
  margin: 15px auto 0;
  text-align: justify;
}

.navbar-header {
  height: 96px;
}

.navbar, .navbar-inverse .navbar-collapse, .navbar-inverse {
  background-color: #479a3a;
  border-color: #479a3a;
}

.navbar-inverse, .navbar-nav>li>a {
  color: white !important;
}

.navbar-toggle {
  position: relative;
  top: 20px;
  right: 16px;
  background-color: #479a3a;
  border-color: #479a3a;
}

.navbar {
  color: white !important;
  font-size: 18px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
  color: white !important;
  font-size: 18px;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  background-color: #479a3a;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #5cb44d;  
}

.navbar-inverse .navbar-toggle {
  border-color: #479a3a;
}

@media (min-width: 768px) {
  .navbar-right {
    margin-top: 20px;
  }
}

.dropdown-menu {
  background-color: #60bd53;
}

.article-div {
  display: block;
}

.no-article-div {
  display: block;
  margin-top: 15px;
}

.pagination {
  display: block;
}

.no-decoration, .no-decoration:hover {
  text-decoration: none;
  color: #333;
}

/* NA CESTE */

.na-container {
  position: absolute;
  width: 104%;
  left: -2%;
}

.na-ceste-container {
  display: block;
  width: 90%;
  position: absolute;
  margin-left: 5%;
}

#na-ceste-map {
  display: block;
  width: 100%;
  height: 70vh;
}

.na-ceste-traveller {
  display: block;
  width: 100%;
  min-height: 16vh;
  overflow: scroll;
  padding: 10px;
}

/* leaflet direction marker */

.leaflet-div-icon {
  background: transparent;
  border: 0px;
}

.arrow-color {
  color: #986507;
}
