/**********************/
/***     GENERAL    ***/

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.deleted {
  text-decoration-line: line-through;
}

.inline-elem {
  display: inline !important;
  margin-right: 15px;
}

.pad-left {
  margin-left: 15px;
}

img {
  max-width: 100% !important;
}

img.round {
  border-radius: 8px;
}

a {
  text-decoration: none !important;
}

a:hover, a:hover h1, a:hover h2, a:hover h3 {
  color: red !important;
}

.no-decoration {
  color: #58595b;
}

.no-decoration, .no-decoration:hover {
  text-decoration: none !important;
  list-style: none !important;
}

@media print {
  a[href]:after {
    content: none !important;
  }

  .no-print {
    display: none;
  }
}

[data-tooltip]:before {            
  position : absolute;
  content : attr(data-tooltip);
  opacity : 0;
  background-color:white;
  color:black;
  border: 1px solid red;
  padding: 4px;
  transform: translate(5px, 10px); 
  pointer-events: none;
  transition: 0.4s;
}

[data-tooltip]:hover:before, [data-tooltip]:focus:before, [data-tooltip]:active:before {        
  opacity : 1;
}

br.clear-both {
  clear: both;
  min-height: 15px;
  max-height: 15px;
  margin: 0;
}

.btn-default:hover,
.btn-default:focus {
  color: red;
  background-color: white;
  border-color: red;
}

a.red-button {
  display: block;
  width: 155px; /*for IE*/
  width: fit-content;
  color: red !important;
  border: 1px solid red;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 40px auto 15px auto;
  text-transform: uppercase;
  transition: background-color 0.4s, color 0.4s;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

a.red-button:hover,
a.red-button:focus {
  background-color: red !important;
  color: white !important;
}

a.red-button.x2 {
  width: 215px; /*for IE*/
  width: fit-content;
  border-width: 2px;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 500;
}

a.white-button {
  display: block;
  width: fit-content;
  color: white !important;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 25px auto 15px auto;
  text-transform: uppercase;
  transition: border-color 0.4s, background-color 0.4s, color 0.4s;
  font-size: 15px;
  font-weight: 400;
}

a.white-button:hover,
a.white-button:focus {
  color: red!important;
  border-color: white;
  background-color: white;
}

button.close {
  opacity: 1;
  font-size: 24px;
  font-family: Tahoma,Verdana,sans-serif;
  text-shadow: none;
  outline: none;
}

button.close:hover, 
button.close:focus {
  color: red;
  opacity: 1;
}

.pagination {
  width: 100%;
  min-height: 34px;
  margin: 15px 0;
}

@media (max-width: 700px) {
  .pagination.top {
    display: none;
  }
}

textarea.html {
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  font-size: 13px;
}

.can-maximize:not(.maximized) .maximized {
  display: none;
}

.can-maximize.maximized .not-maximized {
  display: none;
}

.can-maximize.maximized {
  margin-top: 80px;
  width: 100%;
  height: calc(100vh - 80px);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  background-color: white;
  padding-top: 5px;
}

.can-maximize.maximized .action:first-of-type {
  margin-right: 5px;
}

.can-maximize.maximized label>span {
  margin-left: 5px;
}

.can-maximize.maximized .DraftEditor-root {
  resize: none !important;
  height: calc(100vh - 151px) !important;
}

.can-maximize.maximized textarea.html {
  resize: none !important;
  height: calc(100vh - 113px) !important;
}

.loader {
  display: 'block';
  width: 40px;
  margin: 50px auto;
}

/***     GENERAL    ***/
/**********************/
/***     HEADER     ***/

html, body, #root {
  height: 100%;
}
.app {
  width: 100%;
  height: 100%;
}

.app-header {
  position: absolute;
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  max-height: 80px;
  color: black;
  z-index: 9999;
  top: 0;
  border-bottom: 1px solid red;
}

.article-preview-box, .article-diff-box  {
  width: 100%;
}

.article-diff-box pre {
  padding: 0;
  border: none;
  background-color: transparent;
}

.modal {
  margin: 80px 0 0;
  padding: 0 !important;
} 

.uppy-Root {
  z-index: 2000;
}

.uppy-Dashboard--modal .uppy-Dashboard-inner {
  top: 80px;
}
@media only screen and (min-width: 820px) {
  .uppy-Dashboard--modal .uppy-Dashboard-inner {
    transform: translate(-50%, 0);
  }
}

.modal-dialog {
  margin: 0 auto;
}

@media (max-width: 1270px) {
  .app-header {
    max-height: 70px;
  }
  .modal {
    margin-top: 70px;
  }
  .uppy-Dashboard--modal .uppy-Dashboard-inner {
    top: 70px;
  }
  .can-maximize.maximized {
    margin-top: 70px;
    height: calc(100vh - 70px);
  }
  .can-maximize.maximized .DraftEditor-root {
    height: calc(100vh - 141px) !important;
  }
  .can-maximize.maximized textarea.html {
    height: calc(100vh - 103px) !important;
  }
} @media print {
  .app-header { 
    display: none;
  }
}

.logo-screen {
  display: block;
}

.logo-mobile {
  display: block;
}

.navbar-nav > li.mobile {
  display: none;
}

.navbar-nav > li.desktop {
  display: block;
}

.navbar li.navbar-search {
  display: none;
}

@media (max-width: 1270px ) {
  .logo-mobile {
    margin-left: 15px;
    height: 35px;
  }

  .navbar li.navbar-search {
    display: block;
    float: right;
    position: relative;
    right: 30px;
    top: 22px;
    font-size: 18px;
  }

  li.navbar-search a {
   color: black;
  }

  .navbar-nav > li.mobile {
    display: block;
  }

  .navbar-nav > li.desktop {
    display: none;
  }
}

.logo-position-screen {
  display: block;
} @media (max-width: 1285px ) {
  .logo-position-screen {
    display: none;
  }
}

.logo-position-mobile {
  display: none;
} @media (max-width: 1285px ) {
  .logo-position-mobile {
    display: block;
  }
}

/***     HEADER     ***/
/**********************/
/***      BODY      ***/

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box; 
  color: black;
}

.app-body {
  position: absolute;
  top: 80px;
  bottom: 0px;
  width: 100%;
  overflow-y: auto;
} @media (max-width: 1270px) {
  .app-body {
    top: 70px;
  }
} @media print {
  .app-body {
    top: 0;
    position: relative;
  }
}

/***      BODY      ***/
/**********************/
/***   NAVIGATION   ***/

#nav {
  display: block;
}

.navbar {
  border-radius: 0px;
}

.navbar-header {
  height: 76px;
} @media (max-width: 1270px) {
  .navbar-header {
    /* padding: 0 15px; */
    height: 66px;
  }
}

@media (max-width: 1270px) {
  .navbar .container {
    width: 100%;
    padding: 0;
  }
}

.navbar, .navbar-inverse, .navbar-collapse {
  background-color: #ffffff;
  border-color: #ffffff;
}

.navbar-inverse {
  border: 0px;
}

.navbar-nav {
  margin: 0;
}

.navbar-nav>li>a, 
.navbar-nav .open .dropdown-menu>li>a, 
.navbar-inverse .navbar-nav>.open>a {
  padding-left: 7px;
  padding-right: 7px;
  color: black !important;
  background-color: white;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.4s, margin 0s, padding 0s;
}

.navbar-nav li.account-name {
  margin: 10px 0;
}

.navbar-nav>li.account-name>a,
.navbar-nav .open .dropdown-menu>li.account-name>a {
  pointer-events: none;
  text-transform: none;
}

.navbar-nav li.new-comments>a,
.navbar-nav .open .dropdown-menu>li.new-comments>a {
  text-transform: none !important;
  color: red !important;
}

.navbar-nav li.new-comments>a:focus,
.navbar-nav li.new-comments>a:hover {
  text-decoration: underline !important;
}

.navbar-toggle.collapsed.has-badge::after,
li.has-badge::after {
  content: "⬤";
  position: absolute;
  bottom: -10px;
  right: -10px;
  padding: 5px 10px;
  color: red;
  pointer-events: none;
}

li.has-badge::after {
  bottom: 15px;
  right: 15px;
}

.navbar-nav>li.line-divider>a,
.navbar-nav .open .dropdown-menu>li.line-divider>a {
  pointer-events: none;
}

.line-divider hr {
  max-width: 160px;
  margin: 0 auto;
  border-color: black;
}

.navbar-nav>li.menu-bold>a, 
.dropdown-menu>li.menu-bold>a {
  font-weight: 500;
}

.navbar-nav>li>a {
  padding-bottom: 28px;
  border-bottom: 2px solid transparent;
}

.navbar-nav>li.dropdown.open>a,
.navbar-nav>li>a:hover,
.navbar-nav>li>a:active,
.navbar-nav>li>a:focus {
  color: red!important;
  background-color: transparent!important;
  border-bottom: 2px solid red!important;
  transition: 0.1s, margin 0s, padding 0s, border-width 0s;
}

.navbar-collapse>.navbar-nav>li>a {
  margin-left: 14px;
  margin-right: 14px;
}

.navbar-nav .open .dropdown-menu li>a {
  padding: 10px 10px;
}

.navbar-nav .open .dropdown-menu li>a:focus, 
.navbar-nav .open .dropdown-menu li>a:hover {
  color: red!important;
  background-color: transparent !important;
}

.navbar-nav>li>.dropdown-menu {
  padding: 5px 15px 15px 15px;
}

@media(max-width: 1270px) {
  .navbar-nav>li>a {
    padding: 10px;
    border-bottom: none !important;
  }

  .navbar-nav>li>a:hover,
  .navbar-nav>li>a:active,
  .navbar-nav>li>a:focus {
    border-bottom: none !important;
  }

  .navbar-nav li>a:hover {
    background-color: transparent !important;
  }
}

li.red-button>a {
  color: red !important;
  border: 1px solid red !important;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 5px 21px;
  transition: color 0.4s, background-color 0.4s;
}

.navbar-nav .open .dropdown-menu li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}

li.red-button>a:hover,
li.red-button>a:focus,
li.red-button>a:active {
  border: 1px solid red !important;
  background-color: red !important;
  color: white !important;
}

.navbar-toggle {
  min-width: 44px;
  position: relative;
  top: 20px;
  right: 16px;
  background-color: #ffffff;
  border-color: #ffffff;
} @media(max-width: 1270px) {
  .navbar-toggle {
    top: 10px;
    right: 10px;
  }
}

.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle {
  background-color: #ffffff;
  border-color: #ffffff;  
}

@media (min-width: 1270px) {
  .navbar-right {
    margin-top: 17px;
  }
}

.navbar-brand {
  padding-top: 13px;
}

.navbar-inverse .navbar-toggle:not(.collapsed) {
  padding-top: 5px;
  padding-right: 13px;
}

.navbar-inverse .navbar-toggle:not(.collapsed) .icon-bar {
  display: none;
}

.navbar-inverse .navbar-toggle:hover .icon-bar {
  background-color: red;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black;
}

.navbar-inverse .navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
  display: block;
  background-color: transparent;
  width: 16px;
  height: 25px;
}

/* Icon https://fontawesome.com/icons/times?style=solid */
.navbar-inverse .navbar-toggle:not(.collapsed) .icon-bar:nth-child(2)::before {
  padding-left: 4px;
  content: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='times' class='svg-inline--fa fa-times fa-w-11' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512'%3E%3Cpath fill='currentColor' d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z'%3E%3C/path%3E%3C/svg%3E");
}

.navbar-inverse .navbar-toggle:not(.collapsed):hover .icon-bar:nth-child(2)::before {
  content: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='times' class='svg-inline--fa fa-times fa-w-11' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512'%3E%3Cpath fill='#f00' d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z'%3E%3C/path%3E%3C/svg%3E");
}

@media (max-width: 1270px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      padding-bottom: 10px;
      padding-top: 10px;
  }

  li.red-button>a {
    margin-left: auto !important;
    margin-right: auto !important;
    width: fit-content;
  }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
    border-bottom: 1px solid red;
    padding-bottom: 20px;
  }
}

.navbar .container {
  padding-right: 0px;
  padding-left: 0px;
  width: 90%;
} @media (max-width: 1270px) {
  .navbar .container {
    width: 100%;
    overflow-x: hidden;
    /* padding: 0 15px; */
  }
}

.navbar li, .navbar-inverse li {
  display: block;
}

@media (max-width: 1270px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
} 

/***   NAVIGATION   ***/
/**********************/
/***     HOME       ***/

#Home, #Kontakt, #Cookies, #Articles, #Article, #Changes, #NaCesteArchive, #Traveller, #PoiDetail,
#Search, #Itinerary, #PoisInTable, #NaCesteActiveLight, #FindBuddies, #FindBuddiesDetail {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}

.banner {
  width: 100%;
  min-height: 27vw;
  display: table;
  height: 100px;
  width: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  transition: 0.4s;
}

.banner>a {
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: calc(7.7vw);
  font-weight: 500;
  color: white;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 50%);
  transition: 0.4s;
  padding: 0 20px;
  line-height: normal;
}

.banner>a:hover,
.banner>a:focus,
.banner>a:active {
  color: red;
  background-color: rgba(0, 0, 0, 0.3);
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 50%);
}

.home.banner {
  background-image: url("/img/mapa.jpg");
} 

@media (max-width: 659px) {
  .banner>a {
    font-size: 50px;
  }

  .banner {
    min-height: 215px;
  }

  .home.banner {
    background-image: url("/img/mapa-small.jpg");
  }
}

@media (min-width: 925px) {
  .banner {
    min-height: 250px;
  }

  .banner>a {
    font-size: 70px;
  }
}

.home-articles-and-box, #Kontakt, #Cookies, #Articles, #Article, #Changes, #NaCesteArchive, #Traveller .traveller,
.PoiDetail, #Search, #Itinerary, #PoisInTable, #NaCesteActiveLight, #FindBuddies, #FindBuddiesDetail {
  max-width: calc(100vw - 100px);
  min-width: calc(100vw - 100px);
  margin: 0 50px;
  overflow: hidden;
  min-height: 600px;
}

#Traveller .traveller {
  min-height: 400px;
}

@media (min-width: 1600px) {
  .home-articles-and-box, #Kontakt, #Cookies, #Articles, #Article, #Changes, #NaCesteArchive, #Traveller .traveller,
  .PoiDetail, #Search, #Itinerary, #PoisInTable, #NaCesteActiveLight, #FindBuddies, #FindBuddiesDetail {
    max-width: 1500px;
    min-width: 1500px;
    margin: 0 auto;
  }
}

.home-articles {
  display: table-cell;
  margin-bottom: 0px;
  width: calc(100vw - 600px);
}

.home-intro-mobile {
  display: none;
  text-align: center;
  background-color: red;
  color: white;
  padding: 15px;
}

.home-intro-mobile strong {
  font-weight: 500;
}

.home-intro-mobile .close {
  margin-left: 15px;
  float: right;
  opacity: 1;
}

.home-intro-mobile .close:hover {
  opacity: 0.5;
}

.home-intro-mobile>a {
  color: white !important;
  font-style: italic;
}

.home-intro-mobile>a:focus,
.home-intro-mobile>a:hover {
  text-decoration: underline !important;
}

.home-intro {
  max-width: 860px;
  min-height: 270px;
  max-height: 270px;
  background-image: url("/img/cestasnp_desktop.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 8px;
  margin: 0 auto;
  transform: translate(0, 0);
}

.home-intro .read-more {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.home-intro h1 {
  color: #58595B;
  position: absolute;
  top: 40px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 34px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

.home-intro-text {
  color: #58595B;
  text-shadow: 0px 0px 10px #FFFFFF;
  position: absolute;
  top: 95px;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

@media (max-width: 670px) {
  .home-intro h1,
  .home-intro-text,
  .home-intro .read-more {
    display: none;
  }
}

@media (max-width: 395px) {
  .home-intro {
    min-width: 85vw;
    max-width: 85vw;
    min-height: 85vw;
    max-height: 85vw;
  }
}

.active-travellers-box {
  float: right;
  display: table-cell;
  min-width: 560px;
  max-width: 560px;
  margin-left: 80px;
  margin-bottom: 0px;
  padding: 0px;
}

.active-travellers-box h3 {
  font-size: 30px;
  font-weight: 500;
  color: #58595B;
  text-align: center;
  margin: 40px 0 30px 0;
  text-transform: uppercase;
}

.active-travellers-box h3 > span.active-count {
  display: inline-block;
  text-transform: none;
  font-size: 18px;
  vertical-align: middle;
}

.active-travellers-info {
  margin: 15px 0;
}

.traveller .errorMsg {
  margin-top: 15px;
}

.traveller-item {
  margin: 15px 0 30px 0;
  padding-bottom: 15px;
  overflow: auto;
  border-bottom: 1px solid red;
}

.traveller-message, .traveller-comment {
  margin: 15px 0 30px 0;
  padding: 15px;
  overflow: auto;
  border: 1px solid red;
  border-radius: 8px;
}

.traveller-comment {
  margin-left: 10vw;
  border-color: #58595b;
}

.find-buddies-msgs .traveller-comment {
  margin-left: 0;
}

#Traveller .traveller-item {
  margin: 30px 0 15px 0;
}

.traveller-message.highlighted, .traveller-comment.highlighted {
  padding-bottom: 14px;
  border-bottom-width: 2px;
}

.traveller-message-image {
  float: left;
  max-width: 240px;
  max-height: 240px;
  border-radius: 8px;
  margin-right: 30px;
  margin-bottom: 10px;
}

@media(max-width: 670px) {
  .traveller-message-image {
    float: none;
    display: block;
    margin: 0px auto 15px;
  }

  .traveller-text.with-photo {
    padding-left: 0 !important;
  }
}

.traveller-item-header, .traveller-message-header, .traveller-comment-header {
  overflow-y: hidden;
  margin-bottom: 15px;
}

.traveller-name {
  font-size: 20px;
  font-weight: 500;
  color: red;
  line-height: 30px;
  margin-right: 15px;
}

.traveller-message-name {
  font-size: 16px;
  font-weight: 500;
  color: red;
  margin-right: 15px;
}

.traveller-name:hover,
.traveller-message-name:hover {
  text-decoration: underline !important;
}

.traveller-comment-name {
  font-size: 16px;
  font-weight: 500;
  color: #58595b;
  margin-right: 15px;
}

.traveller-item-email, .traveller-comment-email, .traveller-message-email, .traveller-email {
  display: inline-block;
}

.traveller-date {
  display: table-cell;
  float: right;
  line-height: 30px;
  font-weight: 500;
  color: #58595b;
}

.traveller-text.with-photo {
  padding-left: 270px;
}

.active-travellers-box .active-travellers-items {
  max-height: 400px;
  overflow: hidden;
  position: relative;
}

.active-travellers-box .active-travellers-items.no-photo {
  max-height: 800px;
}

.active-travellers-box .footer {
  min-height: 60px;
}

.active-travellers-items-more {
  display: none;
}

.active-travellers-box .active-travellers-items-more {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  
  background: white;
  background: -moz-linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}

.active-travellers-box .active-travellers-items-more .read-more {
  margin-top: 105px;
  background-color: white;
}

.active-travellers-box .traveller-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  max-height: 88px;
}

@media(max-width: 1300px) {
  .home-intro-mobile {
    display: block;
  }

  .home-articles {
    display: block;
    min-width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  
  .active-travellers-box {
    float: none;
    display: block;
    min-width: 560px;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
  }
}

#home1 {
  display: none;
}

@media(max-width: 670px) {
  .home-articles-and-box, #Kontakt, #Cookies, #Articles, #Article, #Changes, #NaCesteArchive,
  #Traveller .traveller, .PoiDetail, #Search, #Itinerary, #PoisInTable, #NaCesteActiveLight, #FindBuddies,
  #FindBuddiesDetail {
    min-width: 85vw;
    max-width: 85vw;
    margin-left: auto;
    margin-right: auto;
  }
  
  .active-travellers-box {
    min-width: 100%;
    max-width: 100%;
  }

  #home1 {
    display: block;
  }
}

.active-travellers-box #NaCesteActiveLight { 
  width: 100% !important; 
  padding: 0px !important; 
  margin: 0 !important;
  max-width: none;
  min-width: 0;
}

.active-travellers-box #NaCesteActiveLight.loading { 
  min-height: 800px;
}

#Home .article-div, #Articles .article-div {
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 20px;
  overflow: hidden;
}

@media (max-width: 1430px) and (min-width: 1300px) {
  #Home .article-div .read-more.next-to-image {
    margin-left: 270px;
  }
}

#Home .article-div h2, #Articles h2, #Article h2, .public-DraftEditor-content h2, .PoiDetail h2,
#NaCesteActiveLight h2, #Search h2, #Itinerary h2, #PoisInTable h2 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 500;
  color: #58595B;
}

.public-DraftEditor-content h2, .PoiDetail h2 {
  margin-top: 30px;
}

#Article h3, .public-DraftEditor-content h3, .PoiDetail h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #58595B;
  clear: both;
}

#Article h4, .public-DraftEditor-content h4 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #58595B;
}

#Home .article-image, #Articles .article-image {
  float: left;
  min-width: 240px;
  max-width: 240px;
  min-height: 240px;
  max-height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin-right: 30px;
}

#Home .article-image.before, #Articles .article-image.before {
  display: none;
}

#Home .article-text, #Articles .article-text {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  max-height: 132px;
}

#Home .article-text img, #Articles .article-text img {
  display: none;
}

@media(max-width: 670px) {
  #Home #home1 .article-div {
    margin-top: 30px;
  }

  #Home .article-image, #Articles .article-image {
    display: none;
  }

  #Home .article-image.before, #Articles .article-image.before {
    float: none;
    display: block;
    min-width: 240px;
    min-height: 240px;
    margin: 0 auto 30px auto;
    max-width: 240px;
    max-height: 240px;
  }

  #Home #home1 .article-image.before {
    display: none;
  }

  #Home .article-text-col, #Articles .article-text-col {
    display: block;
    width: 100%;
    margin: 30px 0 0 0;
  }
}

@media(max-width: 280px) {
  #Home .article-image.before {
    min-width: 85vw;
    min-height: 85vw;
    max-width: 85vw;
    max-height: 85vw;
  }
}

.site-footer {
  font-size: 15px;
  font-weight: 400;
  color: #58595B;
  max-width: 1500px;
  margin: 0 auto;
}

.site-footer .col1,
.site-footer .col2,
.site-footer .col3 {
  display: inline-block;
  width: 33%;
  text-align: center;
  vertical-align: top;
}

.logo-footer {
  display: block;
  width: 208px;
  margin: 60px auto;
}

.site-footer .red-button {
  margin-top: 90px;
  margin-bottom: 0px;
}

.site-footer h2 {
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 60px auto;
}

.site-footer h3 {
  font-size: 15px;
  text-transform: uppercase;
  margin: 30px auto;
}

.site-footer a.facebook,
.site-footer a.instagram, 
.site-footer a.patreon {
  display: inline;
  border-radius: 8px;
  background-color: #58595B;
  color: #fff;
  margin: 12px;
}

.site-footer a.facebook {
  padding: 6px 5px 3px 13px;
  font-size: 20px;
}

.site-footer a.instagram {
  padding: 2px 4.5px;
  font-size: 24px;
}

.site-footer a.patreon {
  padding: 6px 6px 5px;
  font-size: 18px;
  top: -2px;
  position: relative;
}

.site-footer a.facebook:hover, .site-footer a.instagram:hover,
.site-footer a.patreon:hover {
  background-color: red;
  color: #fff !important;
 }

.site-footer .col1 .list {
  margin: 0 auto;
  max-width: 235px;
  text-align: left;
}

.site-footer p {
  line-height: 22px;
  margin: 15px auto;
}

.site-footer .col1 p {
  margin: 30px 0;
}

.site-footer .col1 p a {
  color: #58595B;
}

.site-footer .col1 p span {
  display: inline-block;
  vertical-align: middle;
  text-align: start;
}

.site-footer .icon {
  font-size: 25px;
  vertical-align: middle;
}

.site-footer span.icon {
  position: relative;
  margin-right: 15px;
  min-width: 25px;
  text-align: center !important;
}

.footer-link {
  display: block;
  text-transform: uppercase;
  margin: 15px auto;
  color: #58595B;
}

@media(max-width: 1299px) {
  .site-footer .col1,
  .site-footer .col2,
  .site-footer .col3 {
    display: block;
    width: 100%;
  }

  .logo-footer {
    margin-top: 90px;
  }

  .site-footer .red-button.x2 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  .site-footer .col1 .red-button.x2 {
    margin-top: 90px;
  }

  .site-footer .col3 .red-button.x2 {
    margin-bottom: 90px;
  }

  .site-footer > .row1 {
    border-bottom: 1px solid red;
  }
  
  .site-footer h2 {
    margin-top: 90px;
  }
}

.map-layer-switch {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 9997;
}

.map-layer-switch>button {
  height: 32px;
  width: 32px;
  font-size: 20px;
}

.map-layer-switch>div {
  padding: 15px;
}

.map-layer-switch input {
  margin: 5px;
}

.ol-zoom {
  top: auto;
  bottom: 80px;
  right: 15px;
  left: auto;
}

@media print {
  .ol-zoom,
  .map-layer-switch {
    display: none;
  }

}

.close {
  font-family: Tahoma,Verdana,sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 0.8;
  opacity: 1;
}

.close:hover, 
.close:focus {
  opacity: 1;
}

button.ol-zoom-in,
button.ol-zoom-out {
  width: 25px;
  height: 25px;
}

.ol-control button {
  background-color: rgba(0, 0, 0, 0.6);
}

.ol-control button:hover,
.ol-control button:focus {
  background-color: rgba(0, 0, 0, 0.8);
}

.ol-scale-line {
  right: 15px;
  bottom: 30px;
  left: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.ol-attribution {
  font-size: 10px !important;
}

.map-popup {
  border: 1px solid grey;
  background-color: white;
  padding: 15px;
  max-width: 50vw;
  max-height: 66vh;
  overflow: hidden;
}

/***     HOME       ***/
/**********************/
/**KONTAKT + Cookies **/

#Kontakt, #Cookies, #Articles, #Changes, #NaCesteArchive, #Search,
#PoisInTable, #Itinerary, #NaCesteActiveLight, #FindBuddies,
#FindBuddiesDetail {
  margin-top: 40px;
}

#Kontakt p, #Cookies p {
  margin: 0;
}

/**KONTAKT + Cookies **/
/**********************/
/***     SEARCH     ***/
#Search {
  min-height: 300px;
}

.gsc-adBlock {
  display: none !important;
}

.gsc-control-cse {
  padding: 0 !important;
}

.gsc-search-button {
  margin-left: 15px;
}

.gs-webResult div.gs-visibleUrl {
  color: #58595B !important;
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
}

a.gs-title:focus, 
a.gs-title:hover,
a.gs-title:focus b, 
a.gs-title:hover b {
  color: red !important;
}

a.gs-title,
a.gs-title b  {
  color: #58595B !important;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px !important;
}

a.gs-label {
  font-weight: 500;
}

.gsc-webResult.gsc-result {
  margin: 20px 0 !important;
}

button.gsc-search-button:focus,
button.gsc-search-button:hover {
  background-color: white !important;
}

button.gsc-search-button:focus svg,
button.gsc-search-button:hover svg {
  fill: red !important;
}

button.gsc-search-button svg {
  transition: fill 0.4s;
}

button.gsc-search-button {
  border-radius: 25px !important;
  padding: 12px 15px 3px;
  transition: background-color 0.4s;
}

.gsc-control-cse,
.gsc-control-cse .gsc-table-result,
.gsc-selected-option-container,
.gsc-result-info {
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif !important;
  font-size: 15px !important;
}

.gsc-selected-option-container {
  font-weight: 500 !important;
}

.gsc-control-cse .gsc-table-result b {
  font-weight: 500;
}

.gsc-tabHeader,
.gsc-refinementHeader {
  font-size: 15px !important;
  font-weight: 500 !important;
}

.gsc-url-top {
  margin: 5px 0 !important;
}

.gs-no-results-result .gs-snippet {
  background-color: transparent !important;
  border: none !important;
}
/***     SEARCH     ***/
/**********************/
/***     POIS       ***/

#Pois  {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#Pois .pois-map-add {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  z-index: 9997;
}

@media print {
  #Pois {
    position: relative;
  }
}

#pois-map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

@media print {
  #pois-map {
    position: relative;
    height: 100vh;
  }
}

.poi-text {
  max-width: 20vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

span.poi-text {
  display: inline-block;
  max-width: 60vw;
  vertical-align: bottom;
}

.poi-name {
  max-width: 240px;
}

.poi-created, .poi-deleted, .poi-modified {
  width: 125px;
  text-align: center;
}

.pois-map-table-link,
.active-kind-link {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 5px 15px !important;
  z-index: 9997;
}

.pois-map-itinerary-link,
.pois-map-link,
.active-photo-link {
  margin: 5px 10px 5px 0 !important;
}

.pois-settings {
  margin-right: 10px;
}

.pois-map-watch-gps {
  position: absolute;
  left: 75px;
  top: 10px;
  padding: 5px 15px !important;
  z-index: 9997;
}

#Pois .errorMsg {
  position: absolute;
  top: 70px;
  margin: 0 15px;
  z-index: 9997;
}

.errorMsg .close {
  margin-left: 10px;
}

/***     POIS       ***/
/**********************/
/***    ADD POIS    ***/

#select-pos-map {
  min-height: 60vh;
  height: 60vh;
}

.map-pos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -32px);
  pointer-events: none;
  z-index: 9997;
  font-size: 32px;
}

#add-poi-map {
  width: 100%;
  height: 30vw;
  min-height: 190px;
  margin-bottom: 10px;
}

#MyPois {
  margin: 30px 0;
}

/***    ADD POIS    ***/
/**********************/
/***      POI       ***/

.poi-icon, .article-icon {
  margin: 0 2px;
}

.action, .poi-history-link, .article-history-link, .article-diff-link, .article-edit-link {
  float: right;
  padding-left: 8px;
}

#map, #poi-map {
  width: 100%;
  height: 30vh;
  margin-bottom: 10px;
  min-height: 190px;
} 

#PoiDetail .poi-image {
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
  width: 40vw;
  border-radius: 8px;
} @media (max-width: 600px) {
  #PoiDetail .poi-image {
    margin-left: 0px;
    width: 100%;
  }
}

/***      POI       ***/
/**********************/
/***    ITINERARY   ***/

@media print {
  #Itinerary, #PoisInTable {
      width: 100%;
      margin: 0;
      padding: 0;
  }
}

.itinerary-table, .pois-table, .changes-table {
  width: 100%;
  font-size: 14px;
}

.itinerary-table td, 
.itinerary-table th,
.pois-table td,
.pois-table th,
.changes-table td,
.changes-table th {
  vertical-align: baseline;
  padding: 2px 4px;
}

@media (max-width: 600px) {
  .itinerary-table td, 
  .itinerary-table th,
  .pois-table td,
  .pois-table th,
  .changes-table td,
  .changes-table th {
    padding: 2px 2px;
  }
}

.itinerary-value {
  text-align: right;
}

.itinerary-row-guidepost {
  background-color: lightgrey;
}

.itinerary-attribution {
  margin-top: 10px;
  font-size: smaller;
  text-align: right;
}

/***    ITINERARY   ***/
/**********************/
/***    ARTICLES    ***/

.article-div {
  display: block;
  min-height: 250px;
}

@media (max-width: 800px) and (min-width: 670px) {
  .article-div .read-more.next-to-image {
    margin-left: 270px;
  }
}

.no-article-div {
  display: block;
  margin-top: 15px;
  min-height: 400px;
}

#Article {
  margin-top: 10px;
}

#Article h2 {
  margin-top: 30px;
}

.article-author {
  margin: 50px 0 30px;
}

img.preview {
  cursor: pointer;
}

#AddArticle .DraftEditor-root {
  display: block;
  width: 100%;
  border: 1px solid lightgray;
  margin: 5px 0;
  padding: 5px;
  min-height: 100px;
  height: 200px;
  overflow: auto;
  font-size: 15px;
  font-weight: normal;
  font-family: 'Ubuntu', sans-serif;
  cursor: text;
  resize: vertical;
}

.DraftEditor-editorContainer {
  border: none !important;
}

.editor-image {
  position: relative;
  z-index: 10;
  vertical-align: top;
}

.editor-image-buttons {
  position: absolute;
  left: 10px;
  top: 10px;
}

.editor-image-buttons button, .editor-toolbar button {
  display: inline-block!important;
  margin: 0!important;
  min-width: 26px;
}

.editor-image-buttons button.down, .editor-toolbar button.down {
  background-color: silver;
}

.editor-image-buttons {
  position: absolute;
  left: 10px;
  top: 10px;
}

.editor-toolbar {
  padding: 5px;
}

#Article img.no-radius, .public-DraftEditor-content .editor-image.no-radius>img {
  border-radius: 0 !important;
}

#Article img.row, .public-DraftEditor-content .editor-image.row>img,
#Article img.left, .public-DraftEditor-content .editor-image.left>img,
#Article img.right, .public-DraftEditor-content .editor-image.right>img,
#Article img.center, .public-DraftEditor-content .editor-image.center>img {
  border-radius: 8px;
}

#Article img.row, .public-DraftEditor-content .editor-image.row {
  float: left;
  margin: 15px;
  max-width: 85vw !important;
  max-height: 27vw !important; 
}

.public-DraftEditor-content .editor-image.row>img {
  max-width: 85vw !important;
  max-height: 27vw !important; 
}

#Article img.row.small, .public-DraftEditor-content .editor-image.row.small {
  max-width: 42vw !important;
  max-height: 13vw !important; 
}

.public-DraftEditor-content .editor-image.row.small>img {
  max-width: 42vw !important;
  max-height: 13vw !important; 
}

#Article img.left, .public-DraftEditor-content .editor-image.left {
  float: left;
  margin-top: 5px;
  margin-right: 30px;
  margin-bottom: 30px;
  max-width: 27vw !important;
  max-height: 60vh !important;
  clear: left;
}

#Article img.right, .public-DraftEditor-content .editor-image.right {
  float: right;
  margin-top: 5px;
  margin-left: 30px;
  margin-bottom: 30px;
  max-width: 27vw !important;
  max-height: 60vh !important;
  clear: right;
}

#Article img.left.small, .public-DraftEditor-content .editor-image.left.small,
#Article img.right.small, .public-DraftEditor-content .editor-image.right.small {
  max-width: 13vw !important;
}

#Article img.center, .public-DraftEditor-content .editor-image.center {
  display: block;
  margin: 30px auto;
  max-width: 60vw !important;
  max-height: 60vh !important;
  clear: both;
}

.public-DraftEditor-content .editor-image.center>img {
  max-width: 60vw !important;
  max-height: 60vh !important;
}

#Article img.center.small, .public-DraftEditor-content .editor-image.center.small {
  max-width: 30vw !important;
}

.public-DraftEditor-content .editor-image.center.small>img {
  max-width: 30vw !important;
}

.public-DraftEditor-content .editor-image.center {
  width: fit-content;
}

img.row::after, .editor-image.row::after {
  content: none;
}

img.row::before, .editor-image.row::before {
  content: none;
}

@media (max-width: 1000px) {
  #Article img.right.small,
  #Article img.left.small, 
  .public-DraftEditor-content .editor-image.right.small,
  .public-DraftEditor-content .editor-image.left.small {
    max-width: 120px !important;
  }
}

@media (max-width: 750px) {
  #Article img.row,
  #Article img.right,
  #Article img.left, 
  #Article img.row.small,
  #Article img.right.small,
  #Article img.left.small, 
  #Article img.center.small, 
  .public-DraftEditor-content .editor-image.row,
  .public-DraftEditor-content .editor-image.right,
  .public-DraftEditor-content .editor-image.left,
  .public-DraftEditor-content .editor-image.row.small,
  .public-DraftEditor-content .editor-image.right.small,
  .public-DraftEditor-content .editor-image.left.small,
  .public-DraftEditor-content .editor-image.center.small {
    float: none;
    display: block;
    margin: 30px auto;
    max-width: 240px !important;
    max-height: 60vh !important;
  }

  .public-DraftEditor-content .editor-image.row>img,
  .public-DraftEditor-content .editor-image.row.small>img {
    max-width: 240px !important;
    max-height: 60vh !important;
  }  
}

@media (max-width: 400px) {
  #Article img.center, .public-DraftEditor-content .editor-image.center {
    max-width: 240px !important;
  }
}


.article-img-item,
.article-link-item {
  margin: 10px 0;
  overflow: hidden;
}

.image-list {
  overflow: hidden;
}

.article-img-item .buttons {
  float: left;
  padding-right: 5px;
}

.article-img-item button {
  display: inline-block !important;
  margin: 0 !important;
}

.article-img-item button.down {
  background-color: silver;
}

.article-img-item img,
.image-list img {
  float: left;
  max-width: 80px !important;
  max-height: 80px !important;
  margin-right: 10px;
  margin-bottom: 10px;
}

#MyArticles {
  margin: 30px 0;
}

button#dropdown-basic-1 {
  border-radius: 25px;
}

/***    ARTICLES    ***/
/**********************/
/***   PAGINATION   ***/

.pagination {
  display: block;
}

.pagination>.active>a,  
.pagination>.active>span {
  color: #fff;
  background-color: red;
  border-color: red;
}

.pagination>li>a:focus, 
.pagination>li>a:hover, 
.pagination>li>span:focus, 
.pagination>li>span:hover,
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
  z-index: 2;
  color: red;
  background-color: white;
  border-color: red;
}

.pagination>li>a, .pagination>li>span {
  color: red;
}

/***   PAGINATION   ***/
/**********************/
/***    NA CESTE    ***/

#NaCesteActive {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

@media print {
  #NaCesteActive {
    position: relative;
  }
}

/***    NA CESTE    ***/
/**********************/
/***    ACTIVE      ***/

#na-ceste-map-active {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 105px;
}

@media print {
  #na-ceste-map-active {
    position: relative;
    height: calc(100vh - 105px);
  }
}

.active-travellers {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 100px;
  max-height: 105px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  z-index: 9997;
  background: white;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  text-align: center;
}

@media print {
  .active-travellers {
    position: relative;
  }
}

.active-traveller {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 500;
  min-width: 120px;
  margin: 8px;
  padding: 5px 15px;
  height: 70px;
  color: white;
  border-radius: 8px;
  border: 2px solid;
  transition: color 0.4s, background-color 0.4s, border-color 0.4s;
}

.active-traveller:focus,
.active-traveller:hover {
  color: red;
  border-color: red !important;
  background-color: white !important;
}

.active-traveller .marker-border {
  transition: color 0.4s;
}

.active-traveller:focus .marker-border,
.active-traveller:hover .marker-border {
  color: white !important;
}

.active-traveller-name {
  margin-top: 4px;
}

.active-traveller.started>.active-traveller-name {
  margin-top: 8px;
}

.active-traveller-marker {
  display: inline-block;
  position: relative;
  width: 38px;
  height: 38px;
  vertical-align: middle;
  margin-bottom: 5px;
}

.active-traveller-marker .marker-border {
  position: absolute;
  left: 0px;
  top: 0px;
}

.active-traveller-marker .marker-image {
  position: absolute;
  left: 3px;
  top: 3px;
}

.active-traveller-marker .marker-symbol {
  position: absolute;
  color: white;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  left: 0px;
  top: 4px;
  width: 100%;
}

#NaCesteFotky {
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  width: 80%;
  margin: 15px auto;
} @media (max-width: 767px) {
#NaCesteFotky {
    width: 100%;
    margin: 0;
    padding: 15px;
    padding-top: 60px;
}
}

.mapMarker, .mapMarkerPos {
  color: red;
  filter: drop-shadow(0px 0px 4px white);
  transition: color 0.4s;
}

.mapMarker:hover,
.mapMarker:focus,
.mapMarker:active {
  color: white !important;
}

.poiMarker {
  color: black;
  transition: color 0.4s;
}

.poiMarkerSymbol {
  color: white;
  pointer-events: none;
}

.poiMarker:hover,
.poiMarker:focus,
.poiMarker:active {
  color: red;
}

.icon-stack {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

/***    ACTIVE      ***/
/**********************/
/***   TRAVELLER    ***/

#Traveller {
  min-height: 1200px;
}

#Traveller .traveller-item .traveller-name {
  font-size: 25px;
  font-weight: 500;
  color: #58595b;
}

#na-ceste-map-traveller {
  width: 100%;
  height: 40vw;
  min-height: 240px;
  max-height: 420px;
}

.na-ceste-traveller-sort, .find-buddies-sort {
  display: block;
  width: 100%;
}

.traveller-message-actions,
.traveller-comment-actions,
.poi-actions,
.article-actions,
.traveller-item-actions {
  float: right;
  line-height: 25px;
  margin-left: 5px;
  font-size: 16px;
}

.poi-item,
.poi-history-item,
.article-item,
.article-history-item {
  overflow: hidden;
  margin-bottom: 8px;
}

.traveller-message-link, 
.traveller-comment-link,
.traveller-message-delete,
.traveller-comment-delete,
.poi-edit,
.poi-delete,
.poi-my,
.article-edit,
.article-history,
.article-my,
.article-state-icon,
.traveller-edit {
  color: black;
  font-size: 16px;
  margin: 0 4px;
  vertical-align: middle;
}

.traveller-message-scrolllink, 
.traveller-comment-scrolllink{
  position: relative;
  top: -120px;
  height: 0px;
}

.travellerPhotoModal {
  width: 900px;
  max-width: 90%;
}

@media (max-width: 767px) {
  .travellerPhotoModal {
    max-width: 96%;
  }
}

.travellerPhotoModal > .modal-content > .modal-body {
  padding: 5px;
}

.traveller-buttons-panel, .find-buddies-buttons-panel {
  z-index: 999;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 15px;
  pointer-events: none;
}

.traveller-buttons-panel.docked, .find-buddies-buttons-panel.docked {
  z-index: auto;
  position: relative;
  bottom: auto;
}

.traveller-buttons, .find-buddies-buttons {
  margin: 0 auto; 
  width: fit-content;
  pointer-events: none;
}

.traveller-buttons > .snpBtn, .find-buddies-buttons > .snpBtn {
  margin-right: 15px;
  margin-bottom: 15px;
  pointer-events: auto;
}

#FindBuddiesDetail .find-buddies-traveller {
  min-height: 200px;
}

.logged-only, .no-find-buddies {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

/***   TRAVELLER    ***/
/**********************/
/***   COMMENTBOX   ***/

.modal-content {
  border-radius: 0px;
  border: 0px;
}

.modal-header {
  border-bottom: 0px;
  padding: 15px 15px 5px 15px;
}

.modal-body {
  padding: 5px 15px;
}

.modal-footer {
  border-top: 0px;
  text-align: center;
  padding: 7px 15px 15px 15px;
}

.comment-box {
  width: 50%;
  color: black;
} @media (max-width: 767px) {
  .comment-box {
    width: 90%;
  }
}

.recaptchaWrapper {
  display: block;
  width: 304px;
  margin: 0 auto;
} @media (max-width: 390px) {
  .recaptchaWrapper {
    width: 164px;
  }
}

.commentError {
  color: #fffefe; 
  background: #f19a84; 
  padding: 5px 10px; 
  text-align: center;
}

.commentInput {
  display: block;
  width: 100%;
  height: 150px;
  border: 1px solid lightgrey;
  resize: vertical;
}

.nameInput {
  display: block;
  width: 100%;
  border: 1px solid lightgrey;
}

.commentLabel {
  display: block;
  margin: 0 0 15px 0;
}

/***   COMMENTBOX   ***/
/**********************/
/***    CHANGES     ***/

#Changes label>input,
#Changes label>select {
  margin: 0 5px;
}
/***    CHANGE S    ***/
/**********************/
/***    ARCHIVE     ***/

#NaCesteArchive .travellers, #FindBuddies .travellers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#NaCesteArchive .traveller-item, #FindBuddies .traveller-item {
  display: flex;
  flex-flow: column;
  position: relative;
  min-width: calc(50% - 40px);
  max-width: calc(50% - 40px);
} @media (max-width: 670px) {
  #NaCesteArchive .traveller-item, #FindBuddies .traveller-item {
    min-width: 100%;
    max-width: 100%;
  }
}

#NaCesteArchive .traveller-item:nth-child(odd),
#FindBuddies .traveller-item:nth-child(odd) {
  margin-right: 80px;
}

#NaCesteArchive .traveller-text,
#FindBuddies .traveller-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  max-height: 88px;
}

/***    ARCHIVE     ***/
/**********************/
/***    FOOTER      ***/

.app-footer {
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
}

.content-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

@media print {
  .content-fill {
    position: relative;
  }
}

.content-wrap {
  padding-bottom: 80px;
} 

@media print {
  .content-wrap {
    padding-bottom: 0;
  }
}

.sponzor {
  display: block;
  width: 500px;
  margin: 0 auto; 
} @media (max-width: 500px) {
  .sponzor {
    width: 100%;
  }
}

/***    FOOTER      ***/
/**********************/
/***    ACCOUNT     ***/

.resetPasswordModal {
  width: 900px;
  max-width: 90%;
}

@media (max-width: 767px) {
  .resetPasswordModal {
    max-width: 96%;
  }
}

.resetPasswordModal > .modal-content > .modal-body {
  padding: 5px;
}

.linkLikeButton {
  border: 0px;
  text-decoration: underline;
  color: #0062ff;
  font-size: 15px;
  background: transparent;
}

.accountWrap, .fanAccountWrap, #AddPoi, #AddArticle, #SendMessage,
#EditFindBuddies {
  width: 80%;
  margin: 20px auto;
  font-size: 16px;
}

.accountWrap label, .fanAccountWrap label, #MessageForm label, #MyJourney label, #AddPoi label, #AddArticle label,
.edit-poi-box label, .confirm-box label, .itinerary-dialog label, .pois-table-dalog label, .link-box label,
#EditFindBuddies label {
  display: block;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.edit-poi-box button.close {
  margin-bottom: 0;
}

.confirm-box label {
  margin: 20px 0;
}

#AddPoi label.form-checkbox, .edit-poi-box label.form-checkbox,
#EditFindBuddies label.form-checkbox {
  display: inline;
  margin-right: 15px;
  vertical-align: middle;
}

#AddPoi input.form-checkbox, .edit-poi-box input.form-checkbox, .pois-table-dalog input.form-checkbox,
#EditFindBuddies input.form-checkbox {
  height: 16px;
  width: 16px;
  margin: 5px;
}

.accountWrap span {
  display: inline-block;
  width: 200px;
  text-align: right;
  padding-right: 15px;
  margin: 5px 0;
}

#MessageForm span, #MyJourney span {
  display: block;
  width: 100%;
}

.accountWrap h2 {
  margin-left: 200px;
}

.fanAccountWrap h2, #AddPoi h2, .edit-poi-box h2, #AddArticle h2, #SendMessage h2,
#EditFindBuddies h2 {
  text-align: center;
  padding-bottom: 15px;
}

.fanAccountWrap p, #AddPoi p.form, .edit-poi-box p.form, #AddArticle p.form,
#EditFindBuddies p.form {
  text-align: justify;
  font-weight: 800;
}

.accountWrap button {
  display: block;
  margin: 15px 0 15px 200px;
}

.accountWrap button.linkLikeButton {
  margin: 0 0 0 200px;
}

.fanAccountWrap button, #AddPoi button.snpBtn, #AddPoi button.snpBtnWhite, 
.edit-poi-box button, #AddArticle button, #SendMessage button, #EditFindBuddies button {
  display: block;
  margin: 15px auto;
}

#AddArticle button.multiselect-option {
  display: inline-block;
  margin: 5px;
  background: white;
  border-radius: 8px;
  max-width: 38vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#AddArticle button.multiselect-option.checked {
  background: red;
  color: white;
}

.accountWrap input {
  border: 1px solid lightgray;
  height: 36px;
  min-width: 240px;
  padding-left: 10px;
}

.fanAccountWrap input, #AddPoi input.form, .edit-poi-box input.form, #AddArticle input.form, .link-box input,
#EditFindBuddies input.form {
  display: block;
  width: 100%;
  border: 1px solid lightgray;
  height: 36px;
  min-width: 160px;
  margin: 5px 0;
  padding-left: 5px;
}

input.short {
  width: 120px !important;
  min-width: unset !important;
}

input.short.inline-elem {
  margin: 5px 0 5px 10px;
}

.fanAccountWrap select, #AddPoi select.form, .edit-poi-box select.form,
.itinerary-dialog select.form, #AddArticle select.form, #EditFindBuddies select.form {
  height: 36px;
  border: solid 1px lightgray;
  width: 20%;
  min-width: 200px;
  margin: 5px 0 5px 10px;
}

.fanAccountWrap textarea, #AddPoi textarea.form, .edit-poi-box textarea.form, #AddArticle textarea.form,
#MessageForm textarea, #EditFindBuddies textarea.form {
  display: block;
  width: 100%;
  border: 1px solid lightgray;
  height: 100px;
  min-width: 240px;
  margin: 5px 0;
  padding-left: 10px;
  resize: vertical;
}

.travellerP, .form-item-value {
  display: block;
  width: 100%;
  min-height: 36px;
  min-width: 240px;
  margin: 5px 0;
  padding-left: 40px;
}

.image-preview {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px 0;
  max-height: 240px;
  max-width: 240px;
  border-radius: 8px;
}

.errorMsg {
  color: #bb0202;
  background: rgb(255, 210, 210);
  padding: 10px 20px;
  border-radius: 10px;
  overflow: hidden;
}

.warningMsg {
  color:  rgb(206, 93, 18);
  background: rgb(255, 228, 210);
  padding: 10px 20px;
  border-radius: 10px;
  overflow: hidden;
}

.successMsg {
  color: #126b12;
  background: rgb(228, 255, 210);
  padding: 10px 20px;
  border-radius: 10px;
  overflow: hidden;
}

#inyZaciatok {
  display: inline-block;
  width: 79%;
  margin-left: 1%;
  padding-left: 10px;
}

@media (max-width: 600px) {
  
  #resetWrap button {
    margin-left: 15px;
  }

  #resetWrap span {
    padding-left: 15px;
  }

  .accountWrap {
    width: 90%;
    margin: 20px auto;
    font-size: 18px;
  }

  .fanAccountWrap, #AddPoi, #AddArticle, #EditFindBuddies {
    width: 95%;
  }

  .fanAccountWrap select, #AddPoi select.form, .edit-poi-box select.form, .itinerary-dialog select.form, #AddArticle select.form,
  #EditFindBuddies select.form {
    display: block;
    min-width: 160px;
    margin: 5px 0;
  }

  .fanAccountWrap h2, #AddPoi h2, .edit-poi-box h2, #AddArticle h2, #EditFindBuddies h2 {
    text-align: left;
  }

  #AddPoi .itinerary-table, .edit-poi-box .itinerary-table {
    font-size: 12px;
  }

  #AddPoi .itinerary-attribution, .edit-poi-box .itinerary-attribution {
    font-size: 10px;
  }

  #inyZaciatok {
    display: block;
    width: 100%;
  }
  
  .accountWrap span {
    width: 100%;
    text-align: left;
    padding-left: 0;
  }
  
  .accountWrap input {
    margin-left: 0;
  }

  .accountWrap button {
    margin: 15px auto;
  }

  .accountWrap button.linkLikeButton {
    margin: 0;
  }

  .accountWrap h2 {
    margin-left: 0;
  }

  .errorMsg {
    margin: 10px;
  }

}

.snpBtn, .snpBtnWhite, div.wpcc-container a.wpcc-btn {
  box-sizing: border-box;
  border: 1px solid red;
  border-radius: 25px;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: background-color 0.4s, color 0.4s;
  font-size: 15px;
  font-weight: 400;
  outline: none;
}

.snpBtn, div.wpcc-container a.wpcc-btn {
  background-color: red;
  color: white;
}

.snpBtn:hover,
.snpBtn:focus,
div.wpcc-container a.wpcc-btn:hover,
div.wpcc-container a.wpcc-btn:focus {
  background-color: white;
  color: red;
}

.snpBtnWhite {
  background-color: white;
  color: red;
}

.snpBtnWhite:hover,
.snpBtnWhite:focus {
  background-color: red;
  color: white;
}

.snpBtn.down {
  filter: brightness(0.8);
}

.thinRedWrap {
  border: solid 1px red;
  border-radius: 8px;
  padding: 15px;
}

#Messages {
  overflow: hidden;
  margin: 30px 0;
}

.for-floating-loader {
  position: relative;
}

.simple-masonry {
  position: relative;
  overflow-x: hidden;
  white-space: nowrap;
  margin: 15px 0;
}

.active-travellers-box .simple-masonry {
  margin-top: 30px;
}

.simple-masonry-item {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
}

.simple-masonry-item.inner {
  margin-bottom: 15px;
}

.simple-masonry-br {
  margin-top: -4px;
}

.simple-masonry-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 8px;
  transition: 0.4s;
}

.simple-masonry-image.old {
  filter: sepia(75%);
}

.simple-masonry-image:hover {
  filter: brightness(50%);
}

.simple-masonry-image-title {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  visibility: hidden;
  color: white;
  font-size: 15px;
  font-weight: 500;
  white-space: normal;
  pointer-events: none;
  transition: 0.4s;
}

.simple-masonry-image-title>span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: 900;
}

.simple-masonry-image:hover + .simple-masonry-image-title {
  visibility: visible;
}
  
.modal.map-popup-dialog {
  z-index: 9998;
}

.map-popup-dialog-content {
  overflow: auto;
  max-height: calc(100vh - 139px);
}

.map-popup-content {
  margin-right: 30px;
  max-height: calc(66vh - 30px);
  overflow-y: auto;
}