/**********************/
/***     GENERAL    ***/

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.deleted {
  text-decoration-line: line-through;
}

img {
  max-width: 100% !important;
}

img.round {
  border-radius: 8px;
}

a {
  text-decoration: none !important;
}

@media print {
  a[href]:after {
    content: none !important;
  }

  .no-print {
    display: none;
  }
}

li {
  list-style: none !important;
  display: inline-block;
}

[data-tooltip]:before {            
  position : absolute;
  content : attr(data-tooltip);
  opacity : 0;
  background-color:white;
  color:black;
  border: 1px solid red;
  padding: 4px;
  transform: translate(5px, 10px); 
  pointer-events: none;
  transition: 0.4s;
}

[data-tooltip]:hover:before, [data-tooltip]:focus:before, [data-tooltip]:active:before {        
  opacity : 1;
}

a.red-button {
  display: block;
  width: 120px; /*for IE*/
  width: fit-content;
  color: red !important;
  border: 1px solid red;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 40px auto 15px auto;
  text-transform: uppercase;
  transition: background-color 0.4s, color 0.4s;
  font-size: 15px;
  font-weight: 400;
}

a.red-button:hover,
a.red-button:focus,
a.red-button:active {
  background-color: red !important;
  color: white !important;
}

a.red-button.x2 {
  width: 215px; /*for IE*/
  width: fit-content;
  border-width: 2px;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 500;
}

a.white-button {
  display: block;
  width: fit-content;
  color: white !important;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 25px auto 15px auto;
  text-transform: uppercase;
  transition: border-color 0.4s, color 0.4s;
  font-size: 15px;
  font-weight: 400;
}

a.white-button:hover,
a.white-button:focus,
a.white-button:active {
  color: red !important;
  border-color: red;
}

/***     GENERAL    ***/
/**********************/
/***     HEADER     ***/

html, body, #root {
  height: 100%;
}
.app {
  width: 100%;
  height: 100%;
}

.app-header {
  position: absolute;
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  max-height: 80px;
  color: black;
  z-index: 9999;
  top: 0;
  border-bottom: 1px solid red;
}
#CommentBox, #ConfirmBox, #EditPoiBox, .itinerary-dialog, .pois-table-dalog {
  margin-top: 80px;
} @media (max-width: 1100px) {
  .app-header {
    max-height: 70px;
  }
  #CommentBox, #ConfirmBox, #EditPoiBox, .itinerary-dialog, .pois-table-dalog {
    margin-top: 70px;
  }
} @media print {
  .app-header { 
    display: none;
  }
} @media print {
  .app-header {
    display: none;
  }
}

.logo-screen {
  display: block;
}

.logo-mobile {
  display: block;
}

@media (max-width: 1100px ) {
  .logo-mobile {
    margin-left: 15px;
    height: 35px;
  }
}

.logo-position-screen {
  display: block;
} @media (max-width: 1285px ) {
  .logo-position-screen {
    display: none;
  }
}

.logo-position-mobile {
  display: none;
} @media (max-width: 1285px ) {
  .logo-position-mobile {
    display: block;
  }
}

/***     HEADER     ***/
/**********************/
/***      BODY      ***/

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box; 
}

.app-body {
  position: absolute;
  top: 80px;
  bottom: 0px;
  width: 100%;
  overflow-y: auto;
} @media (max-width: 1100px) {
  .app-body {
    top: 70px;
  }
} @media print {
  .app-body {
    top: 0;
    position: relative;
  }
}

/***      BODY      ***/
/**********************/
/***   NAVIGATION   ***/

#nav {
  display: block;
}

.navbar {
  border-radius: 0px;
}

.navbar-header {
  height: 76px;
} @media (max-width: 1100px) {
  .navbar-header {
    /* padding: 0 15px; */
    height: 66px;
  }
}

@media (max-width: 1100px) {
  .navbar .container {
    width: 100%;
    padding: 0;
  }
}

.navbar, .navbar-inverse, .navbar-collapse {
  background-color: #ffffff;
  border-color: #ffffff;
}

.navbar-inverse {
  border: 0px;
}

.navbar-nav {
  margin: 0;
}

.navbar-nav>li>a, 
.navbar-nav .open .dropdown-menu>li>a, 
.navbar-inverse .navbar-nav>.open>a {
  padding-left: 7px;
  padding-right: 7px;
  color: black !important;
  background-color: white;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.4s, margin 0s, padding 0s;
}

.navbar-nav>li>a {
  padding-bottom: 28px;
  border-bottom: 2px solid transparent;
}

.navbar-nav>li>a:hover,
.navbar-nav>li>a:active,
.navbar-nav>li>a:focus {
  border-bottom: 2px solid red;
  transition: 0.1s, margin 0s, padding 0s, border-width 0s;
}

.navbar-collapse>.navbar-nav.not-auth>li>a {
  margin-left: 14px;
  margin-right: 14px;
}

@media(min-width: 1170px) {
  .navbar-collapse>.navbar-nav>li>a {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media(min-width: 1250px) {
  .navbar-collapse>.navbar-nav>li>a {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media(min-width: 1350px) {
  .navbar-collapse>.navbar-nav>li>a {
    margin-left: 14px;
    margin-right: 14px;
  }
}

.navbar-nav .open .dropdown-menu li>a:focus, 
.navbar-nav .open .dropdown-menu li>a:hover {
  background-color: #e0e0e0 !important;
}

@media(max-width: 1100px) {
  .navbar-nav>li>a {
    padding-bottom: 15px;
    border-bottom: none;
  }
  
  .navbar-nav>li>a:hover,
  .navbar-nav>li>a:active,
  .navbar-nav>li>a:focus {
    border-bottom: none;
  }

  .navbar-collapse>.navbar-nav li>a {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-nav li>a:hover {
    background-color: #e0e0e0 !important;
  }
}

li.red-button>a {
  color: red !important;
  border: 1px solid red;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px 21px;
  transition: color 0.4s, background-color 0.4s;
}

.navbar-nav .open .dropdown-menu li>a {
  padding-top: 10px;
  padding-bottom: 10px;
}

li.red-button>a:hover,
li.red-button>a:focus,
li.red-button>a:active {
  background-color: red !important;
  color: white !important;
}

.navbar-toggle {
  position: relative;
  top: 20px;
  right: 16px;
  background-color: #ffffff;
  border-color: #ffffff;
} @media(max-width: 1100px) {
  .navbar-toggle {
    top: 10px;
    right: 10px;
  }
}

.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle {
  background-color: #ffffff;
  border-color: #ffffff;  
}

@media (min-width: 1100px) {
  .navbar-right {
    margin-top: 17px;
  }
}

.navbar-brand {
  padding-top: 13px;
}

nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
  background-color: #ffb8b8;
}

.navbar-inverse .navbar-toggle:not(.collapsed) {
  padding-top: 5px;
  padding-right: 13px;
}

.navbar-inverse .navbar-toggle:not(.collapsed) .icon-bar {
  display: none;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ff2730;
}

.navbar-inverse .navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
  display: block;
  background-color: transparent;
  width: 16px;
  height: 25px;
}

/* Icon https://fontawesome.com/icons/times?style=solid */
.navbar-inverse .navbar-toggle:not(.collapsed) .icon-bar:nth-child(2)::before {
  content: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='times' class='svg-inline--fa fa-times fa-w-11' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512'%3E%3Cpath fill='currentColor' d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z'%3E%3C/path%3E%3C/svg%3E");
}

@media (max-width: 1100px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      padding-bottom: 10px;
      padding-top: 10px;
  }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
    border-bottom: 1px solid red;
  }
}

.navbar .container {
  padding-right: 0px;
  padding-left: 0px;
  width: 90%;
} @media (max-width: 1100px) {
  .navbar .container {
    width: 100%;
    overflow-x: hidden;
    /* padding: 0 15px; */
  }
}

.navbar li, .navbar-inverse li {
  display: block;
}

@media (max-width: 1100px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
} 

/***   NAVIGATION   ***/
/**********************/
/***     HOME       ***/

#Home {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}

.banner {
  width: 100%;
  min-height: 27vw;
  display: table;
  height: 100px;
  width: 100%;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  transition: 0.4s;
}

.banner>a {
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: calc(7.7vw);
  font-weight: 500;
  color: white;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  transition: 0.4s;
  padding: 0 20px;
}

.banner>a:hover,
.banner>a:focus,
.banner>a:active {
  color: red;
  background-color: rgba(0, 0, 0, 0.3);
}

.home.banner {
  background-image: url("/img/mapa.jpg");
} 

@media (max-width: 659px) {
  .banner>a {
    font-size: 50px;
  }

  .banner {
    min-height: 215px;
  }

  .home.banner {
    background-image: url("/img/mapa-small.jpg");
  }
}

@media (min-width: 925px) {
  .banner {
    min-height: 250px;
  }

  .banner>a {
    font-size: 70px;
  }
}

.home-articles-and-box {
  max-width: calc(100vw - 100px);
  min-width: calc(100vw - 100px);
  margin: 0 50px;
  overflow: hidden;
  min-height: 800px;
}

@media (min-width: 1600px) {
  .home-articles-and-box {
    max-width: 1500px;
    min-width: 1500px;
    margin: 0 auto;
  }
}

.home-articles {
  display: table-cell;
  margin-bottom: 0px;
  width: calc(100vw - 600px);
}

@media (min-width: 1920px) {
  .banner {
    min-height: 860px;
    max-height: 860px;
  }
}

.home-intro {
  max-width: 800px;
  min-height: 270px;
  max-height: 270px;
  background-image: url("/img/cesta-snp-hory.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 8px;
  margin: 0 auto;
  transform: translate(0, 0);
}

.home-intro .read-more {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.home-intro-text {
  color: #FFFFFF;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 90px;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

@media (max-width: 659px) {
  .home-intro {
    min-width: 85vw;
    max-width: 85vw;
    background-image: url("/img/cesta-snp-hory-small.jpg");
  }

  .home-intro-text,
  .home-intro .read-more {
    display: none;
  }
}

.active-travellers-box {
  float: right;
  display: table-cell;
  min-width: 560px;
  max-width: 560px;
  margin-left: 80px;
  margin-bottom: 0px;
  padding: 0px;
}

.active-travellers-box h3 {
  font-size: 30px;
  font-weight: 500;
  color: #58595B;
  text-align: center;
  margin: 40px 0 30px 0;
  text-transform: uppercase;
}

.active-travellers-info {
  margin: 15px 0;
}

.active-traveller-item {
  border-bottom: 1px solid red;
  margin: 15px 0 30px 0;
  padding-bottom: 15px;
}

.traveller-item-header {
  overflow-y: hidden;
  margin-bottom: 15px;
}

.traveller-name {
  font-size: 20px;
  font-weight: 500;
  color: red;
}

.traveller-date {
  display: table-cell;
  float: right;
  line-height: 30px;
  font-weight: 500;
  color: #58595b;
}

.active-travellers-box .traveller-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  max-height: 88px;
}

@media(max-width: 1300px) {
  .home-articles {
    display: block;
    min-width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  
  .active-travellers-box {
    float: none;
    display: block;
    min-width: 560px;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
  }
}

#home1 {
  display: none;
}

@media(max-width: 659px) {
  .home-articles-and-box {
    min-width: 85vw;
    max-width: 85vw;
    margin-left: auto;
    margin-right: auto;
  }
  
  .active-travellers-box {
    min-width: 100%;
    max-width: 100%;
  }

  #home1 {
    display: block;
  }
}

.active-travellers-box #NaCesteActiveLight { 
  width: 100%; 
  padding: 0px; 
  margin: 0;
}

#Home .article-div {
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 20px;
  overflow: hidden;
}

#Home .article-div h2 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 500;
  color: #58595B;
}

#Home .article-image {
  float: left;
  min-width: 240px;
  max-width: 240px;
  min-height: 240px;
  max-height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  margin-right: 30px;
}

#Home .article-image.before {
  display: none;
}

#Home .article-text-col {
  display: table-cell;
}

#Home .article-text {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  max-height: 132px;
}

#Home .article-text img {
  display: none;
}

@media(max-width: 659px) {
  #Home #home1 .article-div {
    margin-top: 30px;
  }

  #Home .article-image {
    display: none;
  }

  #Home .article-image.before {
    display: block;
    min-width: 85vw;
    min-height: 85vw;
    margin: 0 0 30px 0;
    max-width: unset;
    max-height: unset;
  }

  #Home #home1 .article-image.before {
    display: none;
  }

  #Home .article-text-col {
    display: block;
    width: 100%;
    margin: 30px 0 0 0;
  }
}

.site-footer {
  font-size: 15px;
  font-weight: 400;
  color: #58595B;
}

.site-footer .col1,
.site-footer .col2,
.site-footer .col3 {
  display: inline-block;
  width: 33%;
  text-align: center;
  vertical-align: top;
}

.logo-footer {
  display: block;
  width: 208px;
  margin: 60px auto;
}

.site-footer .red-button {
  margin-top: 90px;
  margin-bottom: 0px;
}

.site-footer h2 {
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 60px auto;
}

.site-footer h3 {
  font-size: 15px;
  text-transform: uppercase;
  margin: 30px auto;
}

.site-footer a.facebook,
.site-footer a.instagram {
  display: inline;
  border-radius: 8px;
  background-color: #58595B;
  color: #fff;
  padding: 6px 5px 2px 13px;
  margin: 12px;
  font-size: 20px;
}

.site-footer a.instagram {
  padding: 2px 4.5px;
  font-size: 24px;
}

.site-footer .col1 .list {
  margin: 0 auto;
  max-width: 235px;
  text-align: left;
}

.site-footer p {
  line-height: 22px;
  margin: 15px auto;
}

.site-footer .col1 p {
  margin: 30px 0;
}

.site-footer .col1 p a {
  color: #58595B;
}

.site-footer .col1 p span {
  display: inline-block;
  vertical-align: middle;
  text-align: start;
}

.site-footer .icon {
  font-size: 25px;
  vertical-align: middle;
}

.site-footer span.icon {
  position: relative;
  margin-right: 15px;
  min-width: 25px;
  text-align: center !important;
}

.footer-link {
  display: block;
  text-transform: uppercase;
  margin: 15px auto;
  color: #58595B;
}

@media(max-width: 1299px) {
  .site-footer .col1,
  .site-footer .col2,
  .site-footer .col3 {
    display: block;
    width: 100%;
  }

  .logo-footer {
    margin-top: 90px;
  }

  .site-footer .red-button.x2 {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  .site-footer .col1 .red-button.x2 {
    margin-top: 90px;
  }

  .site-footer .col3 .red-button.x2 {
    margin-bottom: 90px;
  }

  .site-footer > .row1 {
    border-bottom: 1px solid red;
  }
  
  .site-footer h2 {
    margin-top: 90px;
  }
}

/***     HOME       ***/
/**********************/
/***    KONTAKT     ***/

#Kontakt {
  width: 80%;
  margin: 15px auto;
  text-align: justify;
} @media (max-width: 767px) {
  #Kontakt {
    width: 100%;
    margin: 0;
    padding: 15px;
  }
}

#Kontakt p {
  margin: 0;
}

/***    KONTAKT     ***/
/**********************/
/***     POIS       ***/

#Pois  {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#Pois .pois-map-add {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  z-index: 9998;
}

@media print {
  #Pois {
    position: relative;
  }
}

#pois-map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

@media print {
  #pois-map {
    position: relative;
    height: 100vh;
  }
}

.poi-text {
  max-width: 20vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.poi-name {
  max-width: 240px;
}

.poi-created, .poi-deleted, .poi-modified {
  width: 125px;
  text-align: center;
}

.pois-map-table-link,
.active-kind-link {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 5px 15px !important;
  z-index: 9998;
}

.pois-map-watch-gps {
  position: absolute;
  left: 65px;
  top: 10px;
  padding: 5px 15px !important;
  z-index: 9998;
}

#Pois .errorMsg {
  position: absolute;
  top: 70px;
  margin: 0 15px;
  z-index: 9997;
}

.errorMsg .close {
  margin-left: 10px;
}

/***     POIS       ***/
/**********************/
/***    ADD POIS    ***/

#add-poi-map {
  width: 100%;
  height: 30vw;
  min-height: 190px;
  margin-bottom: 10px;
}

#MyPois {
  margin: 30px 0;
}

/***    ADD POIS    ***/
/**********************/
/***      POI       ***/

#PoiDetail {
  width: 80%;
  margin: 15px auto;
  overflow: hidden;
} @media (max-width: 767px) {
  #PoiDetail {
    width: 100%;
    margin: 0;
    padding: 15px;
  }
}

.poi-actions {
  font-size: 16px;
}

.poi-icon {
  margin: 0 2px;
}

.poi-history-link {
  float: right;
}

#poi-map {
  width: 100%;
  height: 30vh;
  margin-bottom: 10px;
  min-height: 190px;
} 

#PoiDetail .poi-image {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 40vw;
} @media (max-width: 600px) {
  #PoiDetail .poi-image {
    margin-left: 0px;
    margin-bottom: 10px;
    width: 100%;
  }
}

.poi-item {
  margin: 5px 0;
}

/***      POI       ***/
/**********************/
/***    ITINERARY   ***/

#Itinerary, #PoisInTable {
  width: 80%;
  margin: 15px auto;
} @media (max-width: 767px) {
#Itinerary, #PoisInTable {
    width: 100%;
    margin: 0;
    padding: 15px;
}
} @media print {
  #Itinerary, #PoisInTable {
      width: 100%;
      margin: 0;
      padding: 0;
  }
}

.itinerary-table, .pois-table {
  width: 100%;
}

.itinerary-table td, 
.itinerary-table th,
.pois-table td,
.pois-table th {
  vertical-align: baseline;
  padding: 2px 4px;
}

.itinerary-value {
  text-align: right;
}

.itinerary-row-guidepost {
  background-color: lightgrey;
}

.itinerary-attribution {
  margin-top: 10px;
  font-size: smaller;
  text-align: right;
}

/***    ITINERARY   ***/
/**********************/
/***    ARTICLES    ***/

#Articles,
#Article {
  width: 80%;
  margin: 15px auto;
  text-align: justify;
  min-height: 400px;
} @media (max-width: 767px) {
  #Articles, 
  #Article {
    width: 100%;
    margin: 0;
    padding: 15px;
  }
}

.article-div {
  display: block;
  min-height: 250px;
}

.no-article-div {
  display: block;
  margin-top: 15px;
}

/***    ARTICLES    ***/
/**********************/
/***   PAGINATION   ***/

.pagination {
  display: block;
}

.no-decoration, .no-decoration:hover {
  text-decoration: none !important;
  list-style: none !important;
  color: #333;
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
  color: #fff;
  background-color: #ff2730;
  border-color: #ff2730;
}

.pagination>li>a, .pagination>li>span {
  color: #ff2730;
}

/***   PAGINATION   ***/
/**********************/
/***    MAP         ***/

.leaflet-div-icon {
  background: transparent;
  border: 0px;
}

.leaflet-popup-content-wrapper {
  border-radius: 0px;
}

/***    MAP         ***/
/**********************/
/***    NA CESTE    ***/

#NaCesteActive {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

@media print {
  #NaCesteActive {
    position: relative;
  }
}

/***    NA CESTE    ***/
/**********************/
/***    ACTIVE      ***/

#na-ceste-map-active {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 105px;
}

@media print {
  #na-ceste-map-active {
    position: relative;
    height: calc(100vh - 105px);
  }
}

.active-travellers {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 100px;
  max-height: 105px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  z-index: 9998;
  background: white;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  text-align: center;
}

@media print {
  .active-travellers {
    position: relative;
  }
}

.active-traveller {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  min-width: 200px;
  margin: 5px;
  padding: 10px;
  height: 80px;
}

#NaCesteActiveLight,
#NaCesteFotky {
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  width: 80%;
  margin: 15px auto;
} @media (max-width: 767px) {
#NaCesteActiveLight,
#NaCesteFotky {
    width: 100%;
    margin: 0;
    padding: 15px;
    padding-top: 60px;
}
}

.mapMarker, .mapMarkerPos {
  color: red;
}

.icon-stack {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

/***    ACTIVE      ***/
/**********************/
/***   TRAVELLER    ***/

#Traveller {
  min-height: 1200px;
}

#na-ceste-map-traveller {
  width: 100%;
  height: 450px;
}

@media (max-width: 767px) and (max-height: 580px) {
  #na-ceste-map-traveller {
    height: 300px;
  }
}

@media (max-width: 767px) and (min-height: 580px) {
  #na-ceste-map-traveller {
    height: 400px;
  }
}

.na-ceste-traveller {
  display: block;
  width: 100%;
  padding: 10px;
}

.na-ceste-traveller-sort {
  display: block;
  width: 100%;
  padding: 0px 10px 5px 10px;
}

.na-ceste-traveller-msgs {
  display: block;
  padding: 0 10px;
  overflow-y: hidden;
}

.traveller-message-deleted, 
.traveller-comment-deleted {
  display: block;
  width: 90%;
  padding: 15px;
  margin: 4px 0;
  float: left;
  text-align: justify;
}

.traveller-comment-deleted {
  float: right;
}

.traveller-message, 
.traveller-comment {
  display: block;
  width: 90%;
  padding: 15px;
  margin: 4px 0;
  float: left;
  text-align: justify;
  background-color: #ffdbdb;
}

.traveller-message.highlighted, 
.traveller-comment.highlighted{
  margin: 8px 4px;
  -webkit-box-shadow: 0px 0px 50px 15px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 50px 15px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 50px 15px rgba(0,0,0,0.5);
}

.traveller-message-actions,
.traveller-comment-actions,
.poi-actions {
  float: right;
}

.traveller-message-link, 
.traveller-comment-link,
.traveller-message-delete,
.traveller-comment-delete,
.poi-edit,
.poi-delete,
.poi-my {
  color: black;
  font-size: 16px;
  margin: 0 4px;
  vertical-align: middle;
}

.traveller-message-scrolllink, 
.traveller-comment-scrolllink{
  position: relative;
  top: -120px;
  height: 0px;
}

.traveller-comment {
  float: right;
  text-align: justify;
  background-color: white;
  border: 1px solid #ccc2c2;
}

.red-stripe {
  display: inline-block;
  height: 12px;
  background-color: red;
  width: 14px;
  border-bottom: solid 4px white;
  border-top: solid 4px white;
  margin-right: 5px;
}

.travellerPhotoModal {
  margin-top: 120px;
  width: 900px;
  max-width: 90%;
}

@media (max-width: 767px) {
  .travellerPhotoModal {
    max-width: 96%;
  }
}

.travellerPhotoModal > .modal-content > .modal-body {
  padding: 5px;
}

/***   TRAVELLER    ***/
/**********************/
/***   COMMENTBOX   ***/

.comment-box-btn {
  background: #f97474;
  border: solid 0px;
  border-radius: 20px;
  bottom: 0px;
  box-shadow: #867e7e 2px 2px 3px;
  color: #f5f5f5;
  font-size: 18px;
  height: 40px;
  margin: 5px;
  min-width: 120px;
  left: 45%;
  position: fixed;
  text-align: center;
  width: 10%;
  z-index: 999;
  outline: none;
} @media(max-width: 464px) {
  .comment-box-btn {
    left: 33%;
    width: 33%;
  }
}

.comment-box-btn:hover {
    color: #f53838;
    background-color: #fffdfd;
    border-color: #fffefe;
}

.modal-content {
  border-radius: 0px;
  border: 0px;
}

.modal-header {
  border-bottom: 0px;
  padding: 15px 15px 5px 15px;
}

.modal-body {
  padding: 5px 15px;
}

.modal-footer {
  border-top: 0px;
  text-align: center;
  padding: 10px 15px 15px 15px;
}

.comment-box {
  width: 50%;
  color: black;
} @media (max-width: 767px) {
  .comment-box {
    width: 90%;
  }
}

.recaptchaWrapper {
  display: block;
  width: 304px;
  margin: 0 auto;
} @media (max-width: 390px) {
  .recaptchaWrapper {
    width: 164px;
  }
}

.commentError {
  color: #fffefe; 
  background: #f19a84; 
  padding: 5px 10px; 
  text-align: center;
}

.commentInput {
  display: block;
  width: 100%;
  height: 150px;
  border: 1px solid lightgrey;
  resize: vertical;
}

.nameInput {
  display: block;
  width: 100%;
  border: 1px solid lightgrey;
}

.commentLabel {
  display: block;
  margin: 0 0 15px 0;
}

/***   COMMENTBOX   ***/
/**********************/
/***    ARCHIVE     ***/

#NaCesteArchive {
  width: 80%;
  margin: 15px auto;
  text-align: justify;
} @media (max-width: 767px) {
  #NaCesteArchive {
    width: 100%;
    margin: 0;
    padding: 15px;
  }
}

#NaCesteArchive h2 {
  margin-top: 0px;
  text-align: left;
}

.archived-travellers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.archived-traveller {
  display: flex;
  flex-flow: column;
  position: relative;
  background-color: #ececec70;
  width: 30%;
  height: 360px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} @media (max-width: 767px) {
  .archived-traveller {
    width: 100%;
    height: 260px;
  }
}

.archived-traveller-field {
  flex: 0 1 auto
}

.archived-traveller-field.name {
  font-weight: 800
}

.archived-traveller-text {
  overflow: auto;
  flex: 1 1 auto;
  margin: 10px 0px;
}

.archived-traveller-text p {
  margin: 0px 5px 0px 0px;
}

/***    ARCHIVE     ***/
/**********************/
/***    FOOTER      ***/

.app-footer {
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 0;
}

.content-fill {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

@media print {
  .content-fill {
    position: relative;
  }
}

.content-wrap {
  padding-bottom: 80px;
} 

@media print {
  .content-wrap {
    padding-bottom: 0;
  }
}

.sponzor {
  display: block;
  width: 500px;
  margin: 0 auto; 
} @media (max-width: 500px) {
  .sponzor {
    width: 100%;
  }
}

/***    FOOTER      ***/
/**********************/
/***    COOKIES     ***/

#Cookies {
  width: 80%;
  margin: 15px auto;
  text-align: justify;
} @media (max-width: 767px) {
  #Cookies {
    width: 100%;
    margin: 0;
    padding: 15px;
  }
}

#Cookies p {
  margin: 0;
}

/***    COOKIES     ***/
/**********************/
/***    ACCOUNT     ***/

.resetPasswordModal {
  margin-top: 120px;
  width: 900px;
  max-width: 90%;
}

@media (max-width: 767px) {
  .resetPasswordModal {
    max-width: 96%;
  }
}

.resetPasswordModal > .modal-content > .modal-body {
  padding: 5px;
}

.linkLikeButton {
  border: 0px;
  text-decoration: underline;
  color: #0062ff;
  font-size: 15px;
  background: transparent;
}

.accountWrap, .fanAccountWrap, #AddPoi {
  width: 80%;
  margin: 20px auto;
  font-size: 16px;
}

.accountWrap label, .fanAccountWrap>label, #MessageForm label, #MyJourney label, #AddPoi label, 
.edit-poi-box label, .confirm-box label, .itinerary-dialog label, .pois-table-dalog label {
  display: block;
  width: 100%;
}

.edit-poi-box button.close {
  margin-bottom: 0;
}

.confirm-box label {
  margin: 20px 0;
}

#AddPoi label.form-checkbox, .edit-poi-box label.form-checkbox {
  display: inline;
  margin-right: 15px;
  vertical-align: middle;
}

#AddPoi input.form-checkbox, .edit-poi-box input.form-checkbox, .pois-table-dalog input.form-checkbox  {
  height: 16px;
  width: 16px;
  margin: 5px 5px 15px 5px;
}

.accountWrap span {
  display: inline-block;
  width: 200px;
  text-align: right;
  padding-right: 15px;
  margin: 5px 0;
}

#MessageForm span, #MyJourney span {
  display: block;
  width: 100%;
}

.accountWrap h2 {
  margin-left: 200px;
}

.fanAccountWrap h2, #AddPoi h2, .edit-poi-box h2 {
  text-align: center;
}

.fanAccountWrap p, #AddPoi p.form, .edit-poi-box p.form {
  text-align: justify;
  font-weight: 800;
}

.accountWrap button {
  display: block;
  margin-left: 200px;
}

.fanAccountWrap button, #AddPoi button, .edit-poi-box button {
  display: block;
  margin: 15px auto;
}

.accountWrap input {
  border: 1px solid lightgray;
  height: 36px;
  min-width: 240px;
  padding-left: 10px;
}

.fanAccountWrap input, #AddPoi input.form, .edit-poi-box input.form {
  display: block;
  width: 100%;
  border: 1px solid lightgray;
  height: 36px;
  min-width: 240px;
  margin: 5px 0;
  padding-left: 10px;
}

.fanAccountWrap select, #AddPoi select.form, .edit-poi-box select.form,
.itinerary-dialog select.form {
  height: 36px;
  border: solid 1px lightgray;
  width: 20%;
  min-width: 200px;
  margin: 5px 0;
}

.fanAccountWrap textarea, #AddPoi textarea.form, .edit-poi-box textarea.form {
  display: block;
  width: 100%;
  border: 1px solid lightgray;
  height: 100px;
  min-width: 240px;
  margin: 5px 0;
  padding-left: 10px;
  resize: vertical;
}

.travellerP, .form-item-value {
  display: block;
  width: 100%;
  min-height: 36px;
  min-width: 240px;
  margin: 5px 0;
  padding-left: 40px;
}

.image-preview {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px 0;
  max-height: 200px;
}

.errorMsg {
  color: #bb0202;
  background: rgb(255, 210, 210);
  padding: 10px 20px;
  border-radius: 10px;
  overflow: hidden;
}

.warningMsg {
  color:  rgb(206, 93, 18);
  background: rgb(255, 228, 210);
  padding: 10px 20px;
  border-radius: 10px;
  overflow: hidden;
}

.successMsg {
  color: #126b12;
  background: rgb(228, 255, 210);
  padding: 10px 20px;
  border-radius: 10px;
  overflow: hidden;
}

#inyZaciatok {
  display: inline-block;
  width: 79%;
  margin-left: 1%;
  padding-left: 10px;
}

@media (max-width: 550px) {
  
  #resetWrap button {
    margin-left: 15px;
  }

  #resetWrap span {
    padding-left: 15px;
  }

  .accountWrap {
    width: 90%;
    margin: 20px auto;
    font-size: 18px;
  }

  .fanAccountWrap, #AddPoi {
    width: 95%;
  }

  .fanAccountWrap select, #AddPoi select.form, .edit-poi-box select.form, .itinerary-dialog select.form {
    display: block;
    min-width: 200px;
  }

  .fanAccountWrap h2, #AddPoi h2, .edit-poi-box h2 {
    text-align: left;
  }

  #AddPoi .itinerary-table, .edit-poi-box .itinerary-table {
    font-size: 12px;
  }

  #AddPoi .itinerary-attribution, .edit-poi-box .itinerary-attribution {
    font-size: 10px;
  }

  .leaflet-control-attribution {
    font-size: 10px !important;
  }

  #inyZaciatok {
    display: block;
    width: 100%;
  }
  
  .accountWrap span {
    width: 100%;
    text-align: left;
    padding-left: 50px;
  }
  
  .accountWrap button {
    margin-left: 50px;
  }
  
  .accountWrap input {
    margin-left: 50px;
  }

  .accountWrap h2 {
    margin-left: 50px;
  }

  .errorMsg {
    margin: 10px;
  }

}

.snpBtn {
  background: #f97474;
  border: solid 0px;
  padding: 5px 30px;
  font-size: 18px;
  height: 40px;
  border-radius: 20px;
  color: #f5f5f5;
  box-shadow: #867e7e 2px 2px 3px;
  margin: 10px;
  outline: none;
}

.snpBtnWhite {
  background: white;
  border: 1px solid #f97474;
  color: #333333;
  padding: 5px 30px;
  font-size: 18px;
  height: 40px;
  border-radius: 20px;
  box-shadow: #867e7e 2px 2px 3px;
  margin: 10px;
  outline: none;
}

.snpBtn.down {
  filter: brightness(0.8);
}

.thinRedWrap {
  border: solid 1px #f97474;
  padding: 15px;
}

#SentMessages {
  overflow: hidden;
  margin: 30px 0;
}

.for-floating-loader {
  position: relative;
}

.simple-masonry {
  position: relative;
  overflow-x: hidden;
  white-space: nowrap;
  margin: 15px 0;
}

.simple-masonry-item {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
}

.simple-masonry-item.inner {
  margin-bottom: 15px;
}

.simple-masonry-br {
  margin-top: -4px;
}

.simple-masonry-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 8px;
  transition: 0.4s;
}

.simple-masonry-image:hover {
  filter: brightness(50%);
}

.simple-masonry-image-title {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  visibility: hidden;
  color: white;
  font-size: 15px;
  font-weight: 500;
  white-space: normal;
  pointer-events: none;
  transition: 0.4s;
}

.simple-masonry-image-title>span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: 900;
}

.simple-masonry-image:hover + .simple-masonry-image-title {
  visibility: visible;
}
  
